.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    padding: 20px;
    background-color: #fd2e3d;
    .cntnr {
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
        .wrpr {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .src-icon {
                width: 20px;
                height: 20px;
                display: none;
                padding: 10px;
                border-radius: 50%;
                background-color: #FFC039;
                img {
                    width: 100%;
                }
            }
            .logo {
                width: 150px;
                img {
                    width: 100%;
                }
            }
            .srch {
                display: flex;
                flex-wrap: wrap;
                .srchbr {
                    border: 0;
                    width: 300px;
                    outline: none;
                    padding: 13px;
                    color: white;
                    border-radius: 20px;
                    border: 1px solid white;
                    background-color: #fd2e3d;
                    &::placeholder {
                        color: white;
                    }
                }
                .srchbtn {
                    width: 35px;
                    height: 35px;
                    margin-left: -39px;
                    border-radius: 50%;
                    background-color: #FFC039;
                    svg {
                        width: 55%;
                        fill: white;
                    }
                }
            }
            .nav-links {
                .lnks {
                    color: white;
                    padding: 10px 15px;
                    border-radius: 50px;
                    margin: 0 15px;
                    text-decoration: none;
                    transition: all linear 0.2s;
                    border: 1px solid white;
                    &:hover {
                        color: white;
                        border: 1px solid #FFC039;
                        background-color: #FFC039;
                    }
                }
            }
            .mnu-icn {
                width: 20px;
                height: 20px;
                padding: 10px;
                border-radius: 50%;
                display: none;
                text-decoration: none;
                background-color: #FFC039;
                img {
                    width: 100%;
                    margin-top: 3px;
                }
            }
        }
    }
}


// Media Query //
@media (max-width:991px) {
    .header {
        padding: 13px;
        .cntnr {
            .wrpr {
                .src-icon {
                    display: block;
                }
                .srch {
                    display: none;
                }
                .nav-links {
                    display: none;
                }
                .mnu-icn {
                    display: block;
                }
            }
        }
    }
}

// Media Query 640px //
@media (max-width:640px) {
    .header {
        padding: 13px;
        .cntnr {
            .wrpr {
                .logo {
                    width: 130px;
                }
            }
        }
    }
}

// Media Query 480px //
@media (max-width:480px) {
    .header {
        padding: 10px;
        .cntnr {
            .wrpr {
                .logo {
                    width: 110px;
                }
            }
        }
    }
}

// Media Query 320 //
@media (max-width:320px) {}