.stmap {
    // margin: 0 20px;
    margin-bottom: 30px;
    .cntnr {
        width: 1200px;
        margin: 0 auto;
        max-width: 100%;
        .brdcrb {
            padding: 15px;
            // padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            display: inline-block;
            border-radius: 20px 0;
            li {
                display: inline;
                font-size: 14px;
                a {
                    text-decoration: none;
                    text-transform: capitalize;
                    transition: 0.3s all linear;
                    color: black;
                    &.active {
                        color: #fd2e3d;
                        font-weight: 700;
                    }
                }
            }
            li::after {
                content: '>';
                margin: 0 5px;
            }
        }
        .filter {
            text-align: center;
            margin: 0 10px;
           h2 {
               padding-top: 20px;
               padding-bottom: 20px;
               color: black;
           }
           .ltrs {
               border-radius: 20px 0;
               box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.3);
               a {
                   color: black;
                   padding: 10px 0;
                   font-weight: 700;
                   margin: 0 13.7px;
                   display: inline-block;
                   text-decoration: none;
                   transition: all linear 0.1s;
                    &:hover {
                       color: #fd2e3d;
                    }
                }
            }
        }
        .wrpr {
            // display: grid;
            // gap: 30px;
            // grid-template-columns: repeat(3,1fr);
            // margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            .st-crd {
                // width: 340px;
                flex: 1;
                padding: 20px;
                margin: 15px;
                border-radius: 20px 0;
                box-sizing: border-box;
                transition: all linear 0.3s;
                box-shadow: 0 0 5px rgba($color: #000000, $alpha: .2);
                &:hover{
                    box-shadow: 0 0 20px rgba($color: #000000, $alpha: .2);
                }
                h1 {
                    margin: 0;
                    color: #bababa;
                    opacity: .6;
                    font-size: 40px;
                    padding-bottom: 10px;
                }
                .wrp {
                    // gap: 41px;
                    // display: grid;
                    // grid-template-columns: repeat(3,1fr);
                    display: flex;
                    justify-content: space-between;
                    .link {
                        box-sizing: border-box;
                        padding: 8px;
                        a {
                            color: black;
                            transition: all linear 0.2s;
                            text-decoration: none;
                            &:hover {
                                color: #fd2e3d;
                            }
                        }
                        .active{
                            font-weight: 700;
                            color: #fd2e3d;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

// Media Query 991px <start> // 
@media(max-width:991px) {
    .stmap {
        .cntnr {
            .brdcrb {
                display: none;
            }
            .wrpr {
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
// Media Query 991px <end> //

// Media Query 640px <start> //
@media(max-width:640px){
    .stmap {
        .cntnr {
            .wrpr {
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}
// Media Query 640px <end> //

// Media Query 480px <Start> //
@media(max-width:480px) {}
// Media Query 480px <End> //


// Media Query 320px <Start> //
@media(max-width:320px) {
    .stmap {
        .cntnr {
            .wrpr {
                .st-crd {
                    .wrp {
                        flex-wrap: wrap;
                        .link {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
}
// Media Query 320px <End> //